table, tr {
    width: 100%;
}

th {
    text-align: left;
}

tr {
    height: 30px;
}

tr > td > a {
    text-decoration: none;
    color: #4A6782;
}

tr:nth-child(odd) {
    background-color: #EEEEEF;
}

tr:first-child {
    background-color: #DEE3E8;
}